@{
  ViewData["Title"] = "Employee Page";
  Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="text-center">
  <h1 class="display-4">Employee Management</h1>
</div>

<!DOCTYPE html>
<html>

<head>
  <title>Employee Details</title>
</head>
<h2>Individual Employee Details Goes Here</h2>  
</html>
